<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PDF Viewer</title>
    <link rel="icon" type="image/png" href="{{ "/icon.png" | prepend: site.baseurl | prepend: site.url }}">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="{{ include.pdf_url }}"></iframe>
</body>
</html> 