<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      window.onscroll = function() {
        var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
        var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
        var scrolled = (winScroll / height) * 100;
        document.getElementById("myBar").style.width = scrolled + "%";
      };
    </script>
  </body>

</html>
